

<div class="row mt-5 p-3">
  <div class="col">
    <label for="FirstNameInput" class="form-label">{{'FirstName' | translate }}</label>
    <input id="FirstNameInput" name="FirstNameInput" type="text" class="form-control" placeholder="{{'Example' | translate }}: Ramón" aria-label="First name">
  </div>
  <div class="col">
    <label for="LastNameInput" class="form-label">{{'LastName' | translate }}</label>
    <input id="LastNameInput" name="LastNameInput" type="text" class="form-control" placeholder="{{'Example' | translate }}: Barrios" aria-label="Last name">
  </div>
  <div class="col">
    <label class="form-label">{{'Age' | translate }}</label>
    <input id="AgeInput" name="AgeInput" type="number" min="0" max="120" class="form-control" placeholder="{{'Example' | translate }}: 50" aria-label="Age">
  </div>
</div>

<div class="row mt-5 p-3">
  <div class="col">
    <label for="CountryInput" class="form-label">{{'Country' | translate }}</label>
    <input id="CountryInput" name="CountryInput" type="text" class="form-control" placeholder="{{'Example' | translate }}: Venezuela" aria-label="Country">
  </div>
  <div class="col">
    <label for="CityInput" class="form-label">{{'City' | translate }}</label>
    <input id="CityInput" name="CityInput" type="text" class="form-control" placeholder="{{'Example' | translate }}: Caracas" aria-label="City">
  </div>
  <div class="col">
    <label for="AddressInput" class="form-label">{{'Address' | translate }}</label>
    <input id="AddressInput" name="AddressInput" type="text" class="form-control" placeholder="{{'Example' | translate }}: Avenida Libertador Torre A piso 1 apto A1" aria-label="Address">
  </div>
</div>

